#title{
    text-align: center;
    background-color: antiquewhite;
}
.imgCabecera{
    justify-content: center;
    background-color: burlywood;
    width: 100%;
    margin: 0 auto;

}
.resenas{
    background-color: aqua;
    padding-top: 25px;
    justify-content: center;
    display: grid;
}
#gow{
    width: 40%;
    max-width: 500px;
    height: auto;   
    float: left;
}
#alice{
    width: 40%;
    max-width: 500px;
    height: auto;
    float: left;
}