#title{
    text-align: center;
    background-color: antiquewhite;
}

#body{
    background-color: antiquewhite;
}
.imgCabecera{
    justify-content: center;
    background-color: burlywood;
    width: 100%;
    margin: 0 auto;

}
.resenas{
    padding-top: 25px;
    justify-content: center;
    display: grid;
}
#gow{
    width: 40%;
    max-width: 500px;
    height: auto;
   align-items: center;
}
#alice{
    width: 40%;
    max-width: 500px;
    height: auto;
   align-items: centerM
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}