#title{
    text-align: center;
    background-color: antiquewhite;
}

body{
    background-color: antiquewhite;
}
.imgCabecera{
    justify-content: center;
    background-color: burlywood;
    width: 100%;
    margin: 0 auto;
}
.resenas{
    padding-top: 25px;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    width: 100%;
}
img {
  float: left;
}