#title{
    text-align: center;
}
body{
    background-color: antiquewhite;
}
.imgCabecera{
    justify-content: center;
    background-color: burlywood;
    width: 100%;   
}
.resenas{
    padding-top: 25px;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    width: 100%;
    display: grid;
    margin: 0 auto;
    border-style: double;
    border-radius: 25px;
    border: 1px solid #D7D7D7;
    padding: 3px;
    background-color: rgba(226, 224,244, 0.5);

}
#imgAlice {
    float: left;
    width:170px;
    height:170px;
    margin-left:15px;
}
#imgGow {
    float: left;
    width:170px;
    height:170px;
    margin-left:15px;
}
hr{
    width: 100%;
    height: 1px;
}
#trailers{
    margin: 0 auto;
    display: grid;
    max-width: 800px;
    width: 100%;
}
h3{
    text-align: center;
}
#videoAlice{
    justify-content: center;
    margin: 0 auto;
}
#videoGow{
    justify-content: center;
    margin: 0 auto;
}
.img-fluid-alice{
    max-width: 100%;
    height: auto;
}
.img-fluid-gow{
    max-width: 100%;
    height: auto;
}
h4{
    text-align: center;
}
#galeria{
    /*max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: grid;*/
}

@media (min-width: 576px) {
    
}

@media (min-width:768px) {
    .galeria{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 0;
    }
}

@media (min-width:992px) {
    .galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
.imgGA{
    text-align: center;
    max-width: 800px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
.imgGaleria{
    width: 300px;
    margin: 0 auto;
}
#presentacion{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: grid;
}
#footer{
    margin: 0 auto;
    text-align: center;
    background-color: burlywood;
    padding: 50px;
    display: grid;
}

#facebook{
    margin: 20px;
    width: 50px;
    height: 50px;
    justify-content: center;
}
#twitter{
    width: 50px;
    height: 50px;
    margin: 20px;
}
#ig{
    width: 65px;
    height: 65px;
    margin: 20px;
}
.intervalo{
    width: 300px;
    margin: 0 auto; 
}
.locura{
    width: 300px;
    margin: 0 auto;
}
.family{
    width: 300px;
    margin: 0 auto;
}
.mimir{
    width: 300px;
    margin: 0 auto;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg1:hover {opacity: 0.7;}
#myImg2:hover {opacity: 0.7;}
#myImg3:hover {opacity: 0.7;}
#myImg4:hover {opacity: 0.7;}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
#myModal{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {

    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}